@charset "utf-8";

:root {
  --color-white: #ffffff;
  --background-white: #ffffff;
  --background-blue: #6694bf;
  --background-black: #333333;
  --font-size-Light: 3vw;
  --font-size-Medium: 6vw;
  --font-size-SemiBold: 7vw;
  --font-size-Bold: 8vw;
  --font-weight-Medium: 500;
  --font-weight-SemiBold: 600;
  --font-family-Roboto: 'Roboto', Noto Serif JP, Meiryo, MS PGothic,
    Noto Sans JP, sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  font-family: Noto Serif JP, Meiryo, MS PGothic, Noto Sans JP, sans-serif;
  font-size: max(1.1vw, 14px);
  line-height: 1.5;
  color: #333333;
  counter-reset: my-counter 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.level2-heading {
  padding-top: 7.5vw;
  padding-bottom: 7.5vw;
  font-weight: var(--font-weight-SemiBold);
  font-size: var(--font-size-Light);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 767px) {
  .level2-heading {
    font-size: 4vw;
    padding-top: 15vw;
    padding-bottom: 15vw;
  }
}

.common__inner {
  padding-left: 40px;
  padding-right: 40px;
}

.common__text--fontSize-big {
  font-size: 3.8vw;
}

@media screen and (max-width: 767px) {
  .common__text--fontSize-big {
    font-size: 6vw;
  }
}

/* header */
.header {
  position: relative;
  padding-top: max(0.8vw, 12px);
  padding-bottom: max(0.8vw, 12px);
  background: var(--background-blue);
  line-height: 1;
}

@media screen and (max-width: 767px) {
  #header {
    padding-top: 1.9vw;
    padding-bottom: 1.9vw;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 123vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.header__logo {
  font-weight: var(--font-weight-SemiBold);
  font-size: max(2.2vw, 20px);
  color: var(--color-white);
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  #header .logo {
    padding-left: 4.3vw;
    font-size: 8.5vw;
  }
}

.header__list {
  display: flex;
}

.header__link {
  padding-right: 2vw;
  font-weight: var(--font-weight-Medium);
  color: var(--color-white);
}

.header__item:last-child .header__link {
  padding-right: 0;
}

/* first-view */
.first-view {
  position: relative;
}

.first-view__thumb-lotion {
  position: absolute;
  top: 16vw;
  left: 47vw;
  width: 11vw;
}

@media screen and (max-width: 767px) {
  .first-view__thumb-lotion {
    top: 90vw;
    left: 2vw;
    width: 29vw;
    height: auto;
  }
}

.first-view__link-line {
  position: absolute;
  top: 12vw;
  right: 1.1vw;
  width: 5.8vw;
}

@media screen and (max-width: 767px) {
  .first-view__link-line {
    position: absolute;
    top: 163vw;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
  }
}

.first-view__text-slogan {
  position: absolute;
  top: 7.4vw;
  left: 49vw;
  font-size: var(--font-size-Light);
  font-weight: var(--font-weight-SemiBold);
}

@media screen and (max-width: 767px) {
  .first-view__text-slogan {
    top: 22.1vw;
    left: auto;
    right: 1.5vw;
    font-size: var(--font-size-SemiBold);
    writing-mode: vertical-lr;
    font-feature-settings: "vert" on;
  }
}

.first-view__text-goods {
  position: absolute;
  top: 21vw;
  left: 59.6vw;
  font-size: 4vw;
  font-weight: var(--font-weight-SemiBold);
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .first-view__text-goods {
    top: 122vw;
    left: auto;
    right: 4vw;
    font-size: var(--font-size-Bold);
  }
}

.first-view__text-jpy {
  position: absolute;
  top: 26.3vw;
  left: 59.6vw;
  background: linear-gradient(356.83deg, #ea3152 22.13%, #ff758e 69.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: var(--font-size-Medium);
  font-weight: var(--font-weight-SemiBold);
}

@media screen and (max-width: 767px) {
  .first-view__text-jpy {
    top: 143vw;
    left: auto;
    right: 4vw;
    font-size: var(--font-size-Bold);
  }
}

.first-view__text-unit {
  font-size: 4vw;
  padding-left: 0.35vw;
}

.first-view__text-tax {
  font-size: 1.5vw;
  font-weight: var(--font-weight-SemiBold);
}

/* 悩み */

.worries {
  position: relative;
  width: 100%;
  height: 90vw;
  background-image: url(../images/vertical-and-horizontal.png);
}

@media screen and (max-width: 767px) {
  .worries {
    height: 390vw;
  }
}

.worries__wrap {
  position: relative;
}

.worries__box {
  position: absolute;
  top: 0;
  left: 17vw;
  width: 21vw;
  background: var(--background-white);
}

@media screen and (max-width: 767px) {
  .worries__box {
    width: 100%;
    position: static;
  }
}

.worries__pic {
  display: flex;
}

.worries__pic img {
  width: 4.5vw;
  padding-left: 0.8vw;
  padding-right: 0.8vw;
}

@media screen and (max-width: 767px) {
  .worries__pic img {
    width: 12vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

.worries__pic:nth-of-type(1)::before {
  content: "";
  width: 15vw;
  height: 1.3vw;
  background: var(--background-black);
}

@media screen and (max-width: 767px) {
  .worries__pic:nth-of-type(1)::before {
    width: 73vw;
    height: 3vw;
  }
}

.worries__text-voice {
  margin-left: auto;
  margin-right: auto;
  padding-top: 3vw;
  padding-bottom: 3vw;
  width: 80%;
}

@media screen and (max-width: 767px) {
  .worries__text-voice {
    padding-top: 10vw;
    padding-bottom: 10vw;
    font-size: var(--font-size-Medium);
  }
}

.worries__pic:nth-child(3)::after {
  content: "";
  margin-top: 2.1vw;
  width: 15vw;
  height: 1.3vw;
  background: var(--background-black);
}

@media screen and (max-width: 767px) {
  .worries__pic:nth-child(3)::after {
    margin-top: 5vw;
    width: 73vw;
    height: 3vw;
  }
}

.worries__box:nth-child(2) {
  position: absolute;
  top: 3vw;
  left: 65vw;
}

@media screen and (max-width: 767px) {
  .worries__box:nth-child(2) {
    top: 70vw;
    left: 50%;
    transform: translateX(-50%);
  }
}

.worries__box:nth-child(3) {
  position: absolute;
  top: 23vw;
  left: 42vw;
}

@media screen and (max-width: 767px) {
  .worries__box:nth-child(3) {
    top: 140vw;
    left: 50%;
    transform: translateX(-50%);
  }
}

.worries__box:nth-child(4) {
  position: absolute;
  top: 38vw;
  left: 10vw;
}

@media screen and (max-width: 767px) {
  .worries__box:nth-child(4) {
    top: 210vw;
    left: 50%;
    transform: translateX(-50%);
  }
}

.worries__box:nth-child(5) {
  position: absolute;
  top: 42vw;
  left: 73vw;
}

@media screen and (max-width: 767px) {
  .worries__box:nth-child(5) {
    top: 280vw;
    left: 50%;
    transform: translateX(-50%);
  }
}

.worries__wrap .box:nth-of-type(4) {
  padding: 3vw 0 0 4.4vw;
}

.worries__wrap .box:nth-of-type(4) .container {
  width: 20.8vw;
  height: 14.9vw;
  background: var(--background-white);
}

/* select */

.select {
  position: relative;
  background-image: url(../images/ripples.png);
  width: 100%;
  height: 90vw;
  background-size: 100% 90vw;
}

@media screen and (max-width: 767px) {
  .select {
    background-size: cover;
    height: 200vw;
  }
}

.select__container {
  display: flex;
  justify-content: space-evenly;
}

.select__thumb-lotion {
  width: 30vw;
}

/* .select .select__wrap .select__box:nth-of-type(1) { */
.select__box {
  display: flex;
  align-items: center;
}

.select__counter {
  counter-increment: my-counter 1;
}

.select__counter::before {
  padding-right: 3vw;
  content: counter(my-counter, decimal-leading-zero);
  font-size: var(--font-size-SemiBold);
  background: linear-gradient(180deg, #52a7f5 0%, rgba(32, 36, 131, 0.8) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.select__text {
  font-family: var(--font-family-Roboto);

}

/* 特徴 */

#feature {
  position: relative;
  top: 45vw;
  background-image: url(../images/Rectangle.png);
  width: 100%;
  height: 170.8vw;
  background-size: 100% 170.8vw;
}

#feature .title {
  padding: 7.2vw 0 0 42.9vw;
  font-size: 2.8vw;
}

#feature .title span {
  font-size: 3.8vw;
}

#feature .detail {
  position: relative;
  margin: 6.8vw 0 0 12.5vw;
  width: 75.6vw;
  height: 144vw;
  background: var(--background-white);
}

#feature .detail .container {
  display: flex;
}

#feature .detail .container:nth-of-type(1) .text {
  position: absolute;
  top: 15.5vw;
  left: 8.1vw;
  width: 35.9vw;
  height: auto;
  background: linear-gradient(
    112.67deg,
    rgba(84, 166, 184, 0.42) 0%,
    rgba(121, 225, 179, 0.417856) 49.51%,
    rgba(84, 198, 95, 0.4158) 97%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

#feature .detail .container .text p:nth-of-type(1) {
  margin: 4.6vw 0 0 4.3vw;
  width: 27.4vw;
  height: auto;
  font-family: "Roboto";
  font-size: 2.2vw;
}

#feature .detail .container .text p:nth-of-type(2) {
  padding: 3.2vw 0 3.4vw 4.3vw;
  width: 26.4vw;
  height: auto;
  font-family: "Roboto";
}

#feature .detail .container:nth-of-type(1) picture img {
  position: absolute;
  top: 6.3vw;
  left: 40.2vw;
  width: 29.5vw;
  height: auto;
  z-index: 1;
}

#feature .detail .container:nth-of-type(2) .text {
  position: absolute;
  top: 60.6vw;
  left: 33.8vw;
  width: 35.9vw;
  height: auto;
  background: linear-gradient(
    112.67deg,
    rgba(84, 166, 184, 0.42) 0%,
    rgba(121, 225, 179, 0.417856) 49.51%,
    rgba(84, 198, 95, 0.4158) 97%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

#feature .detail .container:nth-of-type(2) picture img {
  position: absolute;
  top: 51.4vw;
  left: 8.1vw;
  width: 29.5vw;
  height: auto;
  z-index: 1;
}

#feature .detail .container:nth-of-type(3) .text {
  position: absolute;
  top: 105.6vw;
  left: 8.1vw;
  width: 35.9vw;
  height: auto;
  background: linear-gradient(
    112.67deg,
    rgba(84, 166, 184, 0.42) 0%,
    rgba(121, 225, 179, 0.417856) 49.51%,
    rgba(84, 198, 95, 0.4158) 97%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

#feature .detail .container:nth-of-type(3) picture img {
  position: absolute;
  top: 96.5vw;
  left: 40.2vw;
  width: 29.5vw;
  height: auto;
  z-index: 1;
}

/* 申込 */

#application {
  position: relative;
  top: 45vw;
  background-image: url(../images/blue-background.png);
  width: 100%;
  height: 67.5vw;
  background-size: 100% 67.5vw;
}

#application .container {
  position: absolute;
  display: flex;
  margin: 7.2vw 0 0 7.1vw;
  padding: 0 0 5.2vw 0;
  width: 85.3vw;
  height: auto;
  background: var(--background-white);
}

#application .container::before {
  content: "";
  position: absolute;
  top: 1.2vw;
  bottom: 1.2vw;
  left: 1.2vw;
  right: 1.2vw;
  border: 1px solid #202483;
  z-index: 1;
}

#application .container picture img {
  padding: 2.6vw 0 0 13.8vw;
  width: 11vw;
  height: auto;
}

#application .container .text p:nth-of-type(1) {
  padding: 5.2vw 0 0 19.3vw;
  width: 28vw;
  height: auto;
  font-weight: var(--font-weight-SemiBold);
  font-size: 1.7vw;
  color: #000000;
}

#application .container .text p:nth-of-type(2) {
  padding: 1.5vw 0 0 19.3vw;
  font-weight: var(--font-weight-SemiBold);
  font-size: 2.2vw;
}

#application .container .text p:nth-of-type(3) {
  position: relative;
  padding: 1.5vw 0 0 22.9vw;
  font-weight: var(--font-weight-SemiBold);
  font-size: 2.8vw;
}

#application .container .text p:nth-of-type(3)::after {
  position: absolute;
  content: "";
  top: 6.1vw;
  left: 22.9vw;
  width: 19.3vw;
  height: 5.1vw;
  clip-path: polygon(100% 0, 100% 45%, 50% 100%, 0 45%, 0 0);
  background: #f8718a;
}

#application .container .text .jpy {
  position: relative;
}

#application .container .text .jpy p:nth-of-type(1) {
  padding-top: 7vw;
  padding-left: 22.9vw;
  font-size: var(--font-size-Medium);
  font-weight: var(--font-weight-SemiBold);
  background: linear-gradient(356.83deg, #ea3152 22.13%, #ff758e 69.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#application .container .text .jpy p:nth-of-type(1) span {
  font-size: 4vw;
}

#application .container .text .jpy p:nth-of-type(2) {
  position: absolute;
  top: 6vw;
  left: 18vw;
  font-weight: var(--font-weight-SemiBold);
  font-size: 1.5vw;
}

#application .container .text button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1.3vw 0 0 13.5vw;
  width: 38.3vw;
  height: 6.9vw;
  background: #30c62d;
  border: 5px solid #2a9d17;
  box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.25),
    inset 0px 30px 16px rgba(255, 255, 255, 0.46);
  border-radius: 17px;
  font-weight: var(--font-weight-SemiBold);
  font-size: 3.9vw;
  color: var(--color-white);
  z-index: 1;
}

#application .container .text button::before {
  position: absolute;
  content: "";
  top: 0;
  left: -2vw;
  width: 6.1vw;
  height: 5.6vw;
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
  background: #ffd43e;
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.25);
}

/* ホバー設定 */

#application .container .text button:hover {
  transition: transform 0.3s;
  background-color: white;
  color: #30c62d;
  cursor: pointer;
}

/* 喜びの声 */

#voice {
  position: relative;
  top: 45vw;
  background-image: url(../images/voice-background.png);
  width: 100%;
  height: 159vw;
  background-size: 100% 159vw;
}

#voice .joy picture img {
  position: absolute;
  top: -5vw;
  left: 0;
  width: 100%;
  height: auto;
}

#voice .introduction .container:nth-of-type(1) {
  position: absolute;
  top: 21.9vw;
  left: 12.2vw;
  padding: 0 0 12.6vw 0;
  width: 75.6vw;
  height: auto;
  background: var(--background-white);
}

#voice
  .introduction
  .container:nth-of-type(1)
  .item
  picture:nth-of-type(1)
  img {
  position: absolute;
  top: 10.1vw;
  left: 4.9vw;
  width: 27.9vw;
  height: auto;
}

#voice .introduction .container:nth-of-type(1) .item h2 {
  position: absolute;
  top: 28.2vw;
  left: 4.9vw;
  padding: 1vw 4vw 1vw 2.6vw;
  font-weight: var(--font-weight-SemiBold);
  font-size: 1.7vw;
  color: var(--color-white);
  background-image: url(/images/blue-square.png);
  height: 5vw;
  background-size: 100% 5vw;
  background-repeat: no-repeat;
}

#voice .introduction .container:nth-of-type(1) .item h2 span {
  display: none;
}

#voice .introduction .container:nth-of-type(1) .text {
  padding: 11.7vw 0 0 38.1vw;
}

#voice .introduction .container:nth-of-type(1) .text p:nth-of-type(1) {
  padding: 0 0 2.8vw 0;
  width: 32.2vw;
  height: auto;
  font-weight: var(--font-weight-SemiBold);
  font-size: 2.2vw;
  color: #000000;
  border-bottom: 1px solid #000000;
}

#voice .introduction .container:nth-of-type(1) .text p:nth-of-type(2) {
  padding: 2.8vw 0 0 0;
  width: 32.2vw;
  height: auto;
  font-weight: var(--font-weight-SemiBold);
  color: #000000;
}

#voice .introduction .container:nth-of-type(1) .text p:nth-of-type(3) {
  padding: 2.9vw 0 0 0;
  margin: 0 0 0 -33.1vw;
  width: 65.4vw;
  height: auto;
  font-weight: var(--font-weight-SemiBold);
  color: #000000;
}

#voice .introduction .container:nth-of-type(2) {
  position: absolute;
  top: 93vw;
  left: 12.2vw;
  padding: 0 0 12.6vw 0;
  width: 75.6vw;
  height: auto;
  background: var(--background-white);
}

#voice
  .introduction
  .container:nth-of-type(2)
  .item
  picture:nth-of-type(1)
  img {
  position: absolute;
  top: 10.1vw;
  left: 4.9vw;
  width: 27.9vw;
  height: auto;
}

#voice .introduction .container:nth-of-type(2) .item h2 {
  position: absolute;
  top: 28.2vw;
  left: 4.9vw;
  padding: 1vw 4vw 1vw 2.6vw;
  font-weight: var(--font-weight-SemiBold);
  font-size: 1.7vw;
  color: var(--color-white);
  background-image: url(/images/blue-square.png);
  height: 5vw;
  background-size: 100% 5vw;
  background-repeat: no-repeat;
}

#voice .introduction .container:nth-of-type(2) .item h2 span {
  display: none;
}

#voice .introduction .container:nth-of-type(2) .text {
  padding: 11.7vw 0 0 38.1vw;
}

#voice .introduction .container:nth-of-type(2) .text p:nth-of-type(1) {
  padding: 0 0 2.8vw 0;
  width: 32.2vw;
  height: auto;
  font-weight: var(--font-weight-SemiBold);
  font-size: 2.2vw;
  color: #000000;
  border-bottom: 1px solid #000000;
}

#voice .introduction .container:nth-of-type(2) .text p:nth-of-type(2) {
  padding: 2.8vw 0 0 0;
  width: 32.2vw;
  height: auto;
  font-weight: var(--font-weight-SemiBold);
  color: #000000;
}

#voice .introduction .container:nth-of-type(2) .text p:nth-of-type(3) {
  padding: 2.9vw 0 0 0;
  margin: 0 0 0 -33.1vw;
  width: 65.4vw;
  height: auto;
  font-weight: var(--font-weight-SemiBold);
  color: #000000;
}

/* 問い合わせ */

#inquiry {
  position: relative;
  top: 45vw;
  display: flex;
  justify-content: center;
  padding: 7.2vw 0 7.2vw 0;
  background: linear-gradient(180deg, #c1e1ff 0%, #6694bf 100%);
  width: 100%;
  height: auto;
}

#inquiry .container {
  width: 75.6vw;
  height: 109vw;
  background: var(--background-white);
}

#inquiry .container .title {
  padding: 3.9vw 0 0 26.1vw;
  font-size: 3.9vw;
}

#inquiry .container .title::after {
  display: block;
  content: "";
  margin: 2vw 0 0 6.2vw;
  width: 11vw;
  height: 0.4vw;
  border-bottom: 5px solid #4079ad;
}

#inquiry form .name {
  display: flex;
  flex-direction: column;
  padding: 4.8vw 0 0 11.8vw;
}

#inquiry form .name label {
  padding: 0 0 1.1vw 0;
  font-size: 1.7vw;
}

#inquiry form .name input {
  padding: 0 0 0 1.7vw;
  width: 52.7vw;
  height: 3.8vw;
  font-size: 1.7vw;
  color: #808080;
  background: rgba(167, 235, 239, 0.57);
  border: none;
}

#inquiry form .name input:focus {
  color: #000000;
}

#inquiry form .e-mail {
  display: flex;
  flex-direction: column;
  padding: 4.4vw 0 0 11.8vw;
}

#inquiry form .e-mail label {
  padding: 0 0 1.1vw 0;
  font-size: 1.7vw;
}

#inquiry form .e-mail input {
  padding: 0 0 0 1.7vw;
  width: 52.7vw;
  height: 3.8vw;
  font-size: 1.7vw;
  color: #808080;
  background: rgba(167, 235, 239, 0.57);
  border: none;
}

#inquiry form .e-mail input:focus {
  color: #000000;
}

#inquiry form .tel {
  display: flex;
  flex-direction: column;
  padding: 4.4vw 0 0 11.8vw;
}

#inquiry form .tel label {
  padding: 0 0 1.1vw 0;
  font-size: 1.7vw;
}

#inquiry form .tel input {
  padding: 0 0 0 1.7vw;
  width: 52.7vw;
  height: 3.8vw;
  font-size: 1.7vw;
  color: #808080;
  background: rgba(167, 235, 239, 0.57);
  border: none;
}

#inquiry form .tel input:focus {
  color: #000000;
}

#inquiry form .content {
  display: flex;
  flex-direction: column;
  padding: 4.4vw 0 0 11.8vw;
}

#inquiry form .content label {
  padding: 0 0 1.1vw 0;
  font-size: 1.7vw;
}

#inquiry form .content textarea {
  padding: 1.1vw 0 0 1.7vw;
  width: 52.7vw;
  height: 19.2vw;
  font-size: 1.7vw;
  color: #808080;
  background: rgba(167, 235, 239, 0.57);
  border: none;
}

#inquiry form .content textarea:focus {
  color: #000000;
}

#inquiry form .privacy {
  padding: 4.4vw 0 5.4vw 23.5vw;
}

.privacy label {
  display: flex;
  align-items: center;
  font-size: 1.7vw;
  color: #000000;
}

input[type="checkbox"] {
  display: none;
}

/* チェック前 */
input[type="checkbox"] + label {
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"] + label::before {
  display: block;
  width: 3.3vw;
  height: 3.3vw;
  content: "";
  background: #e8e8e8;
  border-radius: 3px;
  border: 3px solid #0075ff;
  margin: 0 1vw 0 0;
}

/* チェック後 */
input[type="checkbox"]:checked + label {
  box-sizing: border-box;
  cursor: pointer;
}

input[type="checkbox"]:checked + label::before {
  display: block;
  width: 3.3vw;
  height: 3.3vw;
  content: "";
  background: #0075ff;
  border-radius: 4px;
  border: 3px solid #0075ff;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  display: block;
  top: 0.5vw;
  left: 1.25vw;
  transform: rotate(45deg);
  width: 1vw;
  height: 2vw;
  border-right: 0.3vw solid #fff;
  border-bottom: 0.3vw solid #fff;
}

#inquiry .container form .send {
  padding: 0 0 0 21.6vw;
}

#inquiry .container form .send input {
  width: 34vw;
  height: 7.7vw;
  font-family: "Noto Sans JP";
  font-weight: var(--font-weight-Medium);
  font-size: 2.8vw;
  color: var(--color-white);
  background: #54a6b8;
  box-shadow: inset 0px 21px 10px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  border: none;
}

/* フッター */

#footer {
  position: relative;
  top: 45vw;
  background: #44515c;
}

#footer .menu {
  display: flex;
  justify-content: left;
}

#footer .menu a h2 {
  padding: 7.2vw 0 0 12.2vw;
  font-size: 3.9vw;
  color: var(--color-white);
}

#footer .menu nav ul {
  padding: 7.2vw 0 0 47.9vw;
}

#footer .menu nav ul li {
  padding: 0 0 2.8vw 0;
}

#footer .menu nav ul li a {
  color: var(--color-white);
}

#footer .copyright {
  padding: 5vw 0 1.9vw 42.4vw;
  color: var(--color-white);
}

/* スマートフォンの画面設定 */

@media screen and (max-width: 768px) {
  /* 選ばれる理由 */
  /* 
  .select {
    top: 180vw;
    height: 160vw;
    background-size: 100% 160vw;
  }

  .select .title {
    padding: 16vw 0 0 12.5vw;
    font-size: 6.4vw;
  }

  .select .title span {
    font-size: 9.4vw;
  }

  .select .select__container .select__thumb-lotion picture img {
    padding: 17vw 0 0 2vw;
    width: auto;
    height: 93vw;
  }

  .select .select__wrap .select__box:nth-of-type(1) {
    position: relative;
    padding: 19.5vw 0 0 15vw;
  }

  .select .select__wrap .select__box:nth-of-type(1) h3::before {
    position: absolute;
    top: 23vw;
    left: 0vw;
    margin: 0 0 0 0;
  }

  .select .select__wrap .select__box:nth-of-type(1) p:nth-of-type(1) {
    width: 34.9vw;
    font-size: 5.3vw;
  }

  .select .select__wrap .select__box:nth-of-type(1) p:nth-of-type(2) {
    padding: 1.1vw 0 0 0;
    width: 34.9vw;
    font-size: 3.7vw;
  }

  .select .select__wrap .select__box:nth-of-type(2) {
    position: relative;
    padding: 10vw 0 0 15vw;
  }

  .select .select__wrap .select__box:nth-of-type(2) h3::before {
    position: absolute;
    top: 14vw;
    left: 0vw;
    margin: 0 0 0 0;
  }

  .select .select__wrap .select__box:nth-of-type(2) p:nth-of-type(1) {
    width: 34.9vw;
    font-size: 5.3vw;
  }

  .select .select__wrap .select__box:nth-of-type(2) p:nth-of-type(2) {
    padding: 1.1vw 0 0 0;
    width: 34.9vw;
    font-size: 3.7vw;
  }

  .select .select__wrap .select__box:nth-of-type(3) {
    position: relative;
    padding: 10vw 0 0 15vw;
  }

  .select .select__wrap .select__box:nth-of-type(3) h3::before {
    position: absolute;
    top: 14vw;
    left: 0vw;
    margin: 0 0 0 0;
  }

  .select .select__wrap .select__box:nth-of-type(3) p:nth-of-type(1) {
    width: 34.9vw;
    font-size: 5.3vw;
  }

  .select .select__wrap .select__box:nth-of-type(3) p:nth-of-type(2) {
    padding: 1.1vw 0 0 0;
    width: 34.9vw;
    font-size: 3.7vw;
  } */

  /* 特徴 */

  #feature {
    top: 180vw;
    width: 100%;
    height: 510vw;
    background-size: 100% 510vw;
  }

  #feature .title {
    padding: 17.1vw 0 0 29.9vw;
    font-size: 6.4vw;
  }

  #feature .title span {
    font-size: 9.4vw;
  }

  #feature .detail {
    margin: 16.9vw 0 0 3vw;
    width: 90.9vw;
    height: 450vw;
  }

  #feature .detail .container:nth-of-type(1) .text {
    top: 34.9vw;
    left: 0;
    width: 91.5vw;
    height: auto;
  }

  #feature .detail .container:nth-of-type(1) .text p:nth-of-type(1) {
    margin: 14.9vw 0 0 5.1vw;
    width: 39.8vw;
    font-size: 5.3vw;
  }

  #feature .detail .container:nth-of-type(1) .text p:nth-of-type(2) {
    padding: 10.7vw 0 14.1vw 6.1vw;
    width: 81.1vw;
    font-size: 3.7vw;
  }

  #feature .detail .container:nth-of-type(1) picture img {
    top: 13.6vw;
    left: 47vw;
    width: 42.9vw;
    height: auto;
    z-index: 3;
  }

  #feature .detail .container:nth-of-type(2) .text {
    top: 189.6vw;
    left: 0;
    width: 91.5vw;
    height: auto;
  }

  #feature .detail .container:nth-of-type(2) .text p:nth-of-type(1) {
    margin: 14.9vw 0 0 46.7vw;
    width: 39.8vw;
    font-size: 5.3vw;
  }

  #feature .detail .container:nth-of-type(2) .text p:nth-of-type(2) {
    padding: 10.7vw 0 14.1vw 6.1vw;
    width: 81.1vw;
    font-size: 3.7vw;
  }

  #feature .detail .container:nth-of-type(2) picture img {
    top: 168.3vw;
    left: 1.6vw;
    width: 42.9vw;
    height: auto;
    z-index: 3;
  }

  #feature .detail .container:nth-of-type(3) .text {
    top: 334.3vw;
    left: 0;
    width: 91.5vw;
    height: auto;
  }

  #feature .detail .container:nth-of-type(3) .text p:nth-of-type(1) {
    margin: 14.9vw 0 0 5.1vw;
    width: 39.8vw;
    font-size: 5.3vw;
  }

  #feature .detail .container:nth-of-type(3) .text p:nth-of-type(2) {
    padding: 10.7vw 0 14.1vw 6.1vw;
    width: 81.1vw;
    font-size: 3.7vw;
  }

  #feature .detail .container:nth-of-type(3) picture img {
    top: 313vw;
    left: 47vw;
    width: 42.9vw;
    height: auto;
    z-index: 3;
  }

  /*  申込 */

  #application {
    top: 180vw;
    height: 160vw;
    background-size: 100% 160vw;
  }

  #application .container {
    margin: 14.9vw 0 0 3.5vw;
    width: 91.5vw;
  }

  #application .container picture img {
    padding: 12.5vw 0 0 7vw;
    width: 26vw;
    height: auto;
  }

  #application .container .text p:nth-of-type(1) {
    padding: 21.9vw 0 0 0;
    width: 49.1vw;
    font-size: 4.3vw;
  }

  #application .container .text p:nth-of-type(1) .repetition {
    display: none;
  }

  #application .container .text p:nth-of-type(2) {
    padding: 5.1vw 0 0 0;
    font-size: 4.3vw;
  }

  #application .container .text p:nth-of-type(3) {
    padding: 0.7vw 0 0 0;
    font-size: 6.4vw;
  }

  #application .container .text p:nth-of-type(3)::after {
    top: 13vw;
    left: 0;
    width: 42.2vw;
    height: 10.7vw;
  }

  #application .container .text .jpy p:nth-of-type(1) {
    padding: 13vw 0 0 0;
    font-size: 12.8vw;
  }

  #application .container .text .jpy p:nth-of-type(1) span {
    font-size: 8vw;
  }

  #application .container .text .jpy p:nth-of-type(2) {
    top: 12vw;
    left: 34vw;
    font-size: var(--font-size-Light);
  }

  #application .container .text button {
    margin: 18vw 0 0 -23vw;
    width: 78vw;
    height: 13.9vw;
    font-size: 7.7vw;
  }

  #application .container .text button::before {
    top: 1vw;
    left: -4vw;
    width: 12.4vw;
    height: 11vw;
  }

  /* ホバー設定 */

  /* 喜びの声 */

  #voice {
    top: 195vw;
    background-image: url(../images/voice-background-sp.png);
    width: 100%;
    height: 360vw;
    background-size: 100% 360vw;
  }

  #voice .joy picture img {
    top: -15vw;
  }

  #voice .introduction .container:nth-of-type(1) {
    top: 11vw;
    left: 4.3vw;
    width: 88vw;
    height: auto;
  }

  #voice
    .introduction
    .container:nth-of-type(1)
    .item
    picture:nth-of-type(1)
    img {
    top: 6.1vw;
    left: 11.6vw;
    width: 68.3vw;
    height: auto;
  }

  #voice .introduction .container:nth-of-type(1) .item h2 {
    top: 39vw;
    left: 14.8vw;
    padding: 0.8vw 15vw 1.2vw 4vw;
    font-size: 2vw;
    background-image: url(/images/blue-square-sp.png);
  }

  #voice .introduction .container:nth-of-type(1) .item h2 span {
    display: block;
    position: absolute;
    top: 0.8vw;
    left: 19.1vw;
    padding: 0 5.1vw 0 0;
    white-space: nowrap;
  }

  #voice .introduction .container:nth-of-type(1) .text {
    padding: 58.1vw 0 0 5vw;
  }

  #voice .introduction .container:nth-of-type(1) .text p:nth-of-type(1) {
    padding: 0 0 5.9vw 0;
    width: 78.7vw;
    font-size: 5.3vw;
  }

  #voice .introduction .container:nth-of-type(1) .text p:nth-of-type(2) {
    padding: 9.1vw 0 0 0;
    width: 78.2vw;
    font-size: 3.7vw;
  }

  #voice .introduction .container:nth-of-type(1) .text p:nth-of-type(3) {
    display: none;
  }

  #voice .introduction .container:nth-of-type(2) {
    top: 185vw;
    left: 4.3vw;
    width: 88vw;
    height: auto;
  }

  #voice
    .introduction
    .container:nth-of-type(2)
    .item
    picture:nth-of-type(1)
    img {
    top: 6.1vw;
    left: 11.6vw;
    width: 68.3vw;
    height: auto;
  }

  #voice .introduction .container:nth-of-type(2) .item h2 {
    top: 39vw;
    left: 14.8vw;
    padding: 0.8vw 15vw 1.2vw 4vw;
    font-size: 2vw;
    background-image: url(/images/blue-square-sp.png);
  }

  #voice .introduction .container:nth-of-type(2) .item h2 span {
    display: block;
    position: absolute;
    top: 0.8vw;
    left: 19.1vw;
    padding: 0 5.1vw 0 0;
    white-space: nowrap;
  }

  #voice .introduction .container:nth-of-type(2) .text {
    padding: 58.1vw 0 0 5vw;
  }

  #voice .introduction .container:nth-of-type(2) .text p:nth-of-type(1) {
    padding: 0 0 5.9vw 0;
    width: 78.7vw;
    font-size: 5.3vw;
  }

  #voice .introduction .container:nth-of-type(2) .text p:nth-of-type(2) {
    padding: 9.1vw 0 0 0;
    width: 78.2vw;
    font-size: 3.7vw;
  }

  #voice .introduction .container:nth-of-type(2) .text p:nth-of-type(3) {
    display: none;
  }

  /* 問い合わせ */

  #inquiry {
    top: 195vw;
  }

  #inquiry .container {
    width: 91.5vw;
    height: 169.6vw;
  }

  #inquiry .container .title {
    padding: 5.8vw 0 0 26.7vw;
    font-size: 6.4vw;
  }

  #inquiry .container .title::after {
    margin: 2vw 0 0 14vw;
    width: 11vw;
    height: 0.4vw;
    border-bottom: 1px solid #4079ad;
  }

  #inquiry form .name {
    padding: 6.1vw 0 0 10.7vw;
  }

  #inquiry form .name p {
    padding: 0 0 1.1vw 0;
    font-size: 4.3vw;
  }

  #inquiry form .name input {
    padding: 0 0 0 1.7vw;
    width: 70.1vw;
    height: 10.7vw;
    font-size: 4.3vw;
  }

  #inquiry form .e-mail {
    padding: 4.4vw 0 0 10.7vw;
  }

  #inquiry form .e-mail p {
    padding: 0 0 1.1vw 0;
    font-size: 4.3vw;
  }

  #inquiry form .e-mail input {
    padding: 0 0 0 1.7vw;
    width: 70.1vw;
    height: 10.7vw;
    font-size: 4.3vw;
  }

  #inquiry form .tel {
    padding: 4.4vw 0 0 10.7vw;
  }

  #inquiry form .tel p {
    padding: 0 0 1.1vw 0;
    font-size: 4.3vw;
  }

  #inquiry form .tel input {
    padding: 0 0 0 1.7vw;
    width: 70.1vw;
    height: 10.7vw;
    font-size: 4.3vw;
  }

  #inquiry form .content {
    padding: 4.4vw 0 0 10.7vw;
  }

  #inquiry form .content p {
    padding: 0 0 1.1vw 0;
    font-size: 4.3vw;
  }

  #inquiry form .content textarea {
    padding: 1.1vw 0 0 1.7vw;
    width: 70.1vw;
    height: 36vw;
    font-size: 4.3vw;
  }

  #inquiry form .privacy {
    padding: 9.6vw 0 7.2vw 14.1vw;
  }

  .privacy label {
    font-size: 3.7vw;
  }

  /* チェック前 */

  input[type="checkbox"] + label::before {
    width: 5.9vw;
    height: 5.9vw;
    margin: 0 1vw 0 0;
  }

  /* チェック後 */

  input[type="checkbox"]:checked + label::before {
    width: 5.9vw;
    height: 5.9vw;
  }

  input[type="checkbox"]:checked + label::after {
    top: 0.5vw;
    left: 2vw;
    transform: rotate(45deg);
    width: 2vw;
    height: 4vw;
    border-right: 0.6vw solid #fff;
    border-bottom: 0.6vw solid #fff;
  }

  #inquiry .container form .send {
    padding: 0 0 0 18.7vw;
  }

  #inquiry .container form .send input {
    width: 54.1vw;
    height: 12.3vw;
    font-size: 6.4vw;
  }

  /* フッター */

  #footer {
    top: 195vw;
  }

  #footer .menu a h2 {
    padding: 2.7vw 0 0 4.5vw;
    font-size: 6.4vw;
  }

  #footer .menu nav ul {
    padding: 2.7vw 0 0 60vw;
  }

  #footer .menu nav ul li {
    padding: 0 0 0.8vw 0;
  }

  #footer .menu nav ul li a {
    font-size: 3.7vw;
  }

  #footer .copyright {
    padding: 5.9vw 0 2.4vw 38vw;
  }
}
